# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd
*.gif

/traj_demos
/pretrained
/tests
/data

/a_goalflow_test_cache
/a_goalflow_train_cache
/a_test_release
/cache
**/logs